@import 'tailwindcss';
@import './scrollbar.css';
@layer base {
    :root {
        /* font-family: 'Manrope Variable', sans-serif; */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type='number'] {
            appearance: textfield;
            -moz-appearance: textfield;
        }
    }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
[data-theme='light'] {
    --color-primary: oklch(95.514% 0.00011 271.152);
    --color-sec: oklch(0.69 0.1179 150.16);
    /* --color-sec: oklch(0.69 0.1179 150.16); */
    /* --color-acc: oklch(0.84 0.146 85.9); */
    /* --color-sec: oklch(0.86 0.0196 204.83); */
    /* --color-acc: oklch(0.36 0.0389 248.94); */
    --color-acc: oklch(63.842% 0.06606 200.879);

    --color-body-el: oklch(100% 0 0);
    --color-brdr: oklch(0.708 0 0);
    --color-font: oklch(0.27 0.0055 286.03);
    --color-font2: oklch(100% 0 0);

    --color-danger: oklch(0.737 0.237 25.331);
    --color-warning: oklch(75.22% 0.1235 62.47);
    --color-success: oklch(68.1% 0.1708 151.16);
}
[data-theme='dark'] {
    --color-primary: oklch(23.93% 0 0);
    --color-sec: oklch(0.205 0 0);
    --color-acc: oklch(70.25% 0.132 160.37);

    --color-body-el: oklch(0.27 0.0055 286.03);
    --color-brdr: oklch(0.439 0 0);
    --color-font: oklch(88.837% 0.0001 271.152);
    --color-font2: oklch(0.808 0 0);

    --color-danger: oklch(0.637 0.237 25.331);
    --color-warning: oklch(75.22% 0.1235 62.47);
    --color-success: oklch(68.1% 0.1708 151.16);
}

@theme {
    --font-sans: 'Manrope Variable', sans-serif;
    --text-mini: 0.725rem;
    --text-tiny: 0.625rem;

    --color-primary: var(--color-primary);
    --color-sec: var(--color-sec);
    --color-sec-mute: var(--color-sec-mute);
    --color-acc: var(--color-acc);
    --color-ter: var(--color-ter);

    --color-nav: var(--color-navigation);
    --color-brdr: var(--color-brdr);
    --color-fg: var(--color-font);
    --color-fg2: var(--color-font2);

    --color-success: var(--color-success);
    --color-danger: var(--color-danger);
    --color-warn: var(--color-warning);
}
@layer components {
    .input-label {
        @apply inline-block rounded-lg px-1 text-sm font-medium text-zinc-900;
        @apply dark:text-zinc-300;
    }

    /* Base input */
    .input {
        @apply block w-full rounded-md px-2 py-2 text-base font-normal transition-all duration-150 outline-none sm:text-sm/6;
        @apply bg-zinc-50 text-zinc-900 placeholder:text-zinc-500;
        @apply ring-1 ring-zinc-400;
        @apply hover:bg-zinc-50 focus:bg-zinc-50;
        @apply focus:ring-2 disabled:cursor-not-allowed;

        /* invalid styling */
        @apply user-invalid:ring-rose-500/40;

        @apply dark:bg-zinc-800/60 dark:text-zinc-200 dark:placeholder:text-zinc-400;
        @apply dark:ring-zinc-600;
        @apply dark:hover:bg-zinc-800 dark:focus:bg-zinc-800 dark:disabled:placeholder:text-zinc-600;
    }

    /* Accent variant */
    .input-accent {
        @apply hover:ring-sky-500/60 focus:border-sky-500 focus:ring-sky-500/50;
        @apply dark:hover:ring-emerald-400/30 dark:focus:border-emerald-400 dark:focus:ring-emerald-400/40;
    }

    /* Error variant */
    .input-error {
        @apply ring-rose-500/40 hover:ring-rose-500/55 focus:ring-rose-500/65;
        @apply dark:ring-rose-400/30 dark:hover:ring-rose-400/40 dark:focus:ring-rose-400/50;
    }

    /* Dropdown base */
    .input-dropdown {
        @apply w-full rounded-md px-2 py-2 text-base font-normal transition-all duration-150 outline-none sm:text-sm/6;
        @apply bg-zinc-50 text-zinc-950;
        @apply ring-1 ring-zinc-400;
        @apply hover:bg-zinc-50;
        @apply focus:ring-2 disabled:cursor-not-allowed;

        @apply dark:bg-zinc-800 dark:text-zinc-200 dark:ring-zinc-600 dark:hover:bg-zinc-800;
    }

    .input-dropdown-accent {
        @apply hover:ring-sky-500/40 focus:ring-sky-500/50;
        @apply dark:hover:ring-emerald-400/25 dark:focus:ring-emerald-400/35;
    }

    .input-dropdown-error {
        @apply ring-rose-500/40 hover:ring-rose-500/55 focus:ring-rose-500/65;
        @apply dark:ring-rose-400/30 dark:hover:ring-rose-400/40 dark:focus:ring-rose-400/50;
    }
}

@layer components {
    .navigation {
        @apply border-brdr bg-sec sticky top-0 flex h-screen shrink-0 flex-col gap-4 overflow-y-auto border-r p-4 transition duration-500;
    }
}
@layer components {
    .link {
        @apply hover:text-primary text-fg cursor-pointer decoration-2 underline-offset-2 hover:underline;
        @variant dark {
            @apply hover:text-acc;
        }
    }
}

.router-active {
    @apply text-primary dark:text-acc;
}
@layer components {
    .main-content {
        flex-grow: 1;
        min-width: 0;
    }
}

.container-menu {
    max-width: clamp(16rem, 80rem, 50%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-lg {
    max-width: clamp(16rem, 70%, 100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.backdrop {
    z-index: 990;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-outer {
    z-index: 991;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(15rem, 32vw, 20rem);
    height: clamp(10rem, 16vh, 20vh);
    background-color: white;
}
